.lists{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1%;
  flex-wrap: wrap;
}

button{
  border: none;
  height: 41px;
  border-radius: 5px;
  color: aqua;
  color: white;
  background: black;
  margin: 5px;

}

input{
  margin: 2%;
  width: 50%;
}